@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    font-family: 'Roboto', san-serif;
}
body {
    background-color: #545454;
}
#sanpham {
    background-color: #dadada;
    color: #565656;
}
#daotao {
    background: #a8a8a8;
    color: #515151;
}
#dichvuchinh {
    background: #cfcfcf;
    color: #515151;
}
#youtubeVideos {
    background: #6a6a68;
    color: #d9d9d9;
}
/* Global */
.trungtam {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
}
/* Header */
header {
    padding: 0!important;
    overflow: hidden;
}

/* Main Element */
#content {
    overflow: hidden;
    background-color:white!important;
}
#iframe {
    margin: 0;
}
/* Navbar */
.menu * {
    text-transform: uppercase!important;
    text-decoration: none!important;
}
.menu {
    /* background-color: #f8f9fa!important; */
    display: flex;
    justify-content: center!important;
}
.menu>ul {
    margin: 0!important;
    padding: 0!important;
}
.menu li {
	list-style-type: none!important;
}
.menu>ul>li {
    float: left!important;
    display: inline-block!important;
    height: 100%;
}
.menu>ul>li>a {
    display: inline-block;
    padding: 1em;
    color: #eee;
}
.menu>ul>li:last-child>a {
    padding-bottom: 0!important;
}
.menu>ul>li:hover {
    background-color: #191e23;
}
.menu li:hover>a {
    color: #00b9eb;
}
.menu>ul>form {
    padding: 0 1em!important;
    height: 100%!important;
}
.menu>ul>form>* {
    font-size: .6rem!important;
}
.menu>ul>li>ul {
    background-color: #eee!important;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: white;
    padding: 0;
    margin-top: 0em;
    z-index: 99999;
    border-radius: .2em;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.menu>ul>li>ul li a {
    display: block;
    width: 100%;
    color: black!important;
    padding: .5em 1em!important;
}
.menu>ul>li>ul>li:first-child {
    margin-top: .5em!important;
}
.menu>ul>li>ul>li:last-child {
    margin-bottom: .5em!important;
}
.menu>ul>li>ul li:hover>a {
    background-color: #dedede!important;
}
.menu>ul>li>ul>li>ul {
    margin-left: 0;
    padding-left: 0!important;
}
.menu>ul>li>ul>li>ul>li>a {
    padding-left: 1.5em!important;
}
.menu>ul>li>a:hover> {
    color: black!important;
}
.menu>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
    margin-top: -.3em;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/*Mobile nav*/
.mmenu {
    display: block!important;
    overflow: auto!important;
}
.mmenu>ul>li {
    width: 100%!important;
}
.mmenu>ul>li>a {
    width: 100%!important;
    padding: .5em 1em!important;
}
.mmenu>ul>form {
    height: auto!important;
    padding: .5em 1em!important;
}
.mmenu>ul>form>input {
    width: auto!important;
}
.mmenu>ul>li>ul {
    position: relative!important;
    width: 90%!important;
    margin: 0 auto!important;
    margin-bottom: 1em!important;
    visibility: visible!important;
    opacity: 1!important;
    overflow: hidden!important;
}
.menu-dropdown-button {
	width: auto!important; 
	position: relative!important; 
	margin-top: -2.5em!important; 
	right: 1em!important; 
	float: right!important; 
	text-align: right!important; 
	z-index: 999999!important; 
	cursor: pointer!important
}
/* Section */
section.data-section {
    margin: 0;
}
section>h2>a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

/* Grid */
.iGrid a {
    text-decoration: none;
    opacity: .7;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.iGrid a div {
    opacity: 0;
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    text-shadow: 10px 10px 10px black;
}
.iGrid a:hover>div {
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}
.iGrid a:hover {
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
#products * {
    text-decoration: none;
}
#products .card-body {
    background-color: #eee;
    padding: 1em;
}
#products>div {
    width: 31%;
    margin: 1.166666% 1.166666%;
    overflow: hidden;
}
#products>div:hover {
    outline: 4px solid #eee;
}
/*#products>div:hover .card-body {*/
/*    box-shadow: 0 2px 0 #eee inset;*/
/*}*/
/* Icon */
.fa-facebook:hover, .fa-youtube:hover {
    color: white;
}

/* Footer */
footer * {
    font-family: 'Roboto', san-serif;
}
footer p * {
    font-size: .8em!important;
}
footer h5 {
    margin-bottom: 15px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

/* Responsive */
@media only screen and (max-width: 500px) {
  #content {
      padding: 1em!important;
  }
  #products .card-body {
    padding: .5em;
    }
  #products h5 a {
      font-size: .7em!important;
  }
}