/* Header */
header {
    background: gray;
    /* height: 500px;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

/* Main banner */
#header-banner {
}
#main-image {
    max-height: 500px;
    min-height: 200px;
}

/* Navbar */
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

/* Footer */
footer .col-md-4 {
    padding: 30px;
}
footer .fa {
    font-size: 50px;
    padding-right: 10px;
    color: gray;
}